@import '../../common/styles/sass/variables.scss';
@import '../../common/styles/sass/mixins.scss';


.skill {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 937px) {
    min-width: 51%;
    padding: 5%;
  }

  .circleIconParent {
    width: calc(60% - 15px);
    padding-bottom: calc(60% - 23px);
    margin-bottom: 40px;
    border: 4px solid $primaryColor;
    transition: all 300ms ease-in-out;
    border-radius: 120%;
    display: block;
    box-sizing: border-box;
    position: relative;

    .circleIconChild {
      width: 50%;
      padding-bottom: 50%;
      border: 0;
      background-color: #bdc3c7;
      border-radius: 120%;
      margin-bottom: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      box-sizing: border-box;
      .icon{
        width: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .description {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    @include text(16px, $textColor, none);
  }
}

h3{
  @include text(20px, $textColor, uppercase);
  font: inherit;
  font-size: 20px;
  margin: 0;
}

