@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';

.mainBlock {
  height: 100vh;
  background-image: url("../accets/image/main.jpg");
  background-size: cover;
  background-position: center;
  &::before {
    position: absolute;
    content: '';
    background-color: #12181f;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .container {
    height: calc(100vh - 190px);
    position: relative;

    .greetingText {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      //margin-top: -0.625em;
      text-align: center;
      width: 100%;
      color: white;
      h2 {
        font: inherit;
        @include text(2.1875rem, $titleTextColor, uppercase);
      }
      .line {
        width: 40px;
        height: 2px;
        background-color: $primaryColor;
        border: none;
      }
      .thin {
        font-weight: lighter;
      }
    }
  }

  .arrowDownSection {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    transform: rotate(45deg);
    cursor: pointer;

    .wrapperDown {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      position: relative;
      color: #fff;
      width: 64px;
      height: 64px;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.2);
      }
      &::before {
        content: "";
        position: absolute;
        border: 1px solid rgb(33, 194, 248);
        width: 100%;
        height: 100%;
        animation: pulse 1s ease-in-out infinite alternate;
      }

      .arrowDown {
        position: absolute;
        top: 35%;
        left: 35%;
        border: solid #ffffff;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 7px;

      }
    }
  }
}

h1 {
  @include text(3.75rem, $titleTextColor, uppercase);
}

@keyframes pulse {
  from {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  to {
    width: 132%;
    height: 132%;
    top: -17%;
    left: -17%;
  }
}