@import '../../../common/styles/sass/variables.scss';
@import '../../../common/styles/sass/mixins.scss';


.projectTitle {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font: inherit;
  margin: 0 0 10px 0;
  padding: 0;
  position: relative;
  @include text(2rem, $titleTextColor, uppercase);

  .projectTitleThin {
    font-weight: lighter;
  }
}