@import '../../common/styles/sass/variables.scss';
@import '../../common/styles/sass/mixins.scss';
@import '../../common/components/button/Button.module';

.project {
  width: 390px;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 15px;
  font-family: "Lato", Roboto, sans-serif;
  font-size: 16px;
  @media screen and (max-width: 1449px) {
    min-width: 490px;
    min-height: 350px;
  }
  @media screen and (max-width: 1324px) {
    min-width: 420px;
    min-height: 300px;
  }
  @media screen and (max-width: 1124px) {
    min-width: 340px;
    min-height: 250px;
  }
  @media screen and (max-width: 1050px) {
    min-width: 500px;
    min-height: 350px;
  }
  @media screen and (max-width: 590px) {
    min-width: 400px;
    min-height: 270px;
  }
  @media screen and (max-width: 430px) {
    min-width: 340px;
    min-height: 220px;
  }


  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include text(16px, $titleTextColor, uppercase);

    &::before {
      position: absolute;
      content: '';
      background-color: $primaryColor;
      opacity: 0.8;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .description {
      display: block;
      width: 80%;
      text-align: center;
      margin: 0;
      padding: 0;
      position: relative;
      @include text(1.15rem, $titleTextColor, uppercase);
    }
  }
}


