$textColor: #2c3e50;
$titleTextColor: #fff;
$titleDescriptionTextColor: #5e5e5e;
$primaryColor: #21c2f8;
$secondPrimaryColor: #85defb;
$bgColor: #f4f8f9;
$bgSecondColor: #fff;

$fontFamily: "Lato", Roboto, sans-serif


