@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';
@import '../common/components/button/Button.module';

.mainBlock {
  background-color: $primaryColor;
  padding: 40px 0 40px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1148px) {
      justify-content: center;
    }

    .text {
      padding: 1.125rem 0;
      text-align: center;
      @include text(2.75rem, $titleTextColor, uppercase);
    }

    .buttonDistantWork[type="submit"] {
      @extend .btn;
      //border: 3px solid #fff;;
      //padding: 1em 3em;
      //font-weight: bold;
      //text-decoration: none;
      //max-height: 20px;
      //max-width: 100%;
      //margin: 20px;
      //position: relative;
      //@include text(1.25rem, $bgSecondColor, uppercase);
    }

  }

}




