@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';

.projectsBlock {
  background: $bgSecondColor;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;

  .projectsContainer {
    display: flex;
    justify-content: center;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 947px) {
        justify-content: center;
      }
    }
  }
  &::after {
    @include afterBlock();
  }
}

