@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';

.projectsBlock {
  background: $bgSecondColor;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;

  .projectsContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .projects {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 15px;
    }
  }
  &::after {
    @include afterBlock();
  }
}

