.worksBlock {
    background: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.worksBlock::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -30px;
    left: 50%;
    z-index: 3;
    transform: translate(-50%);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #fff;
}

.worksContainer {
    display: flex;
    justify-content: center;
}

.description {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: inherit;
    color: #5e5e5e;
    line-height: 1.5;
    text-align: center;
}

.works {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width: 947px) {
    .works {
        justify-content: center;
    }
}